.grid-container{
    display: grid;
    grid-template-columns: max-content max-content max-content;
}
/* 
#E6E6E6
*/
.cabecalho{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #79d9a1;
    color: black;
    padding: 4px;
    font-weight: bold;
    grid-column: span 3;
}


.item{
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 6px;
}

.footer{
    background-color: blue;
    display: grid;
    justify-items: center;
    align-items: center;
    color: white;
}

