.container{
    display: flex;
    margin-top: 10px;
}

.result{
    display: flex;
    margin-left: 5px;
    width: 100px;
    background-color: rgb(194, 182, 182);
    text-align: center;
}

.calcular{
    background-color: rgb(116, 108, 108);
    color: rgb(230, 221, 221);
    height: 30px;
    border-radius: 10%;
}

.divSoma{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 400px;
    margin-top: 10px;
    font-size: 30px;
    background-color: antiquewhite;
}


label, input{
    margin-left: 5px;

}